body, html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

#header nav {
  background-color: #212529 !important;
}

.nav-right {
  color: #F6F6F6;
  font-size: 16px;
}

.navbar-expand-lg {
  background-color: white !important;
  color: #000000;
}

.carousel .carousel-item img {
  max-height: 700px;
}

.product_detail_image {
  width: 334px;
  height: 355px;
}