body, html{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}
$color-white-F6: #F6F6F6;
$color-black-F0: #000000;
// @media screen and (min-width: 1024px) {
//     .container {
//         max-width: 1200px;
//     }
// }

.container {
    // width: 900px;
    background: #fff;
    margin: 0 auto;
    padding: 0;
}

//font chu:
$fs-nav-bright: 16px;
.nav-right{
    color: $color-white-F6;
    font-size: $fs-nav-bright;
}

.navbar-expand-lg{
    background-color: white !important;
    color: $color-black-F0;
}

.carousel  .carousel-item img{
    height: 700px;
}
.product_detail{
    &_image{
        width: 334px;
        height: 355px;
    }
}

.register {
    padding: 50px 0;
    background: #fff;
    .register_border_radius {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 20px;
    }
    .register_content {
        padding: 75px 0;
        .row {
            align-items: center;
        }
        .register_form {
            // padding-left: 50px;
            // padding-right: 50px;
            padding: 0 55px 0 75px;
            width: 100%;
            overflow: hidden;

            .form_title {
                margin-bottom: 33px;
            }
            h2 {
                line-height: 1.66;
                margin: 0;
                padding: 0;
                font-weight: 700;
                color: #222;
                font-size: 36px;
            }
        }
    }
    .sign_up_form {
        width: 100%;
        .form_item {
            position: relative;
            margin-bottom: 5px;
            overflow: hidden;
            label {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #222;
                cursor: pointer;
                i {
                    font-size: 18px;
                }
            }
            input {
                width: 100%;
                display: block;
                border: none;
                border-bottom: 1px solid #999;
                padding: 6px 30px;
                box-sizing: border-box;
                outline: none;
            }
            select {
                width: 100%;
                display: block;
                border: none;
                border-bottom: 1px solid #999;
                padding: 6px 30px;
                box-sizing: border-box;
                outline: none;
            }
        }
        .spThongBao {
            color: red;
            opacity: 0.75;
            width: 100%;
            display: inline-block;
            text-align: right;
        }
    }
    .register_button {
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        .btn_sign_up {
            display: inline-block;
            background: #6C63FF;
            color: #fff;
            border-bottom: none;
            width: auto;
            padding: 15px 39px;
            border-radius: 5px;
            margin-top: 25px;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
    .register_img {
        padding: 0 35px;
        width: 100%;
        overflow: hidden;
        figure {
            margin: 0;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

