body, html{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
    
// biến màu sắc 
$color-white-F6: #F6F6F6;
$color-black-F0: #000000;
$color-1: #6C63FF;
$color-2: #212121;
    
// biến hiệu ứng
$transition-1: all 0.5s;
    
//font chu:
$fs-nav-bright: 16px;

.container {
    // width: 900px;
    // background: #fff;
    margin: 0 auto;
    padding: 0;
}

.nav-right{
    color: $color-white-F6;
    font-size: $fs-nav-bright;
}

.navbar-expand-lg{
    background-color: white !important;
    color: $color-black-F0;
}

.carousel  .carousel-item img{
    height: 700px;
}
.product_detail{
    &_image{
        width: 334px;
        height: 355px;
    }
}

.register {
    margin-top: 90px;
    padding: 50px 0;
    background: #fff;
    .register_border_radius {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 20px;
    }
    .register_content {
        padding: 75px 0;
        .row {
            align-items: center;
        }
        .register_form {
            // padding-left: 50px;
            // padding-right: 50px;
            padding: 0 55px 0 75px;
            width: 100%;
            overflow: hidden;

            .form_title {
                margin-bottom: 33px;
            }
            h2 {
                line-height: 1.66;
                margin: 0;
                padding: 0;
                font-weight: 700;
                color: #222;
                font-size: 36px;
            }
        }
    }
    .sign_up_form {
        width: 100%;
        .form_item {
            position: relative;
            margin-bottom: 5px;
            overflow: hidden;
            label {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #222;
                cursor: pointer;
                i {
                    font-size: 18px;
                }
            }
            input {
                width: 100%;
                display: block;
                border: none;
                border-bottom: 1px solid #999;
                padding: 6px 30px;
                box-sizing: border-box;
                outline: none;
            }
            select {
                width: 100%;
                display: block;
                border: none;
                border-bottom: 1px solid #999;
                padding: 6px 30px;
                box-sizing: border-box;
                outline: none;
            }
        }
        .spThongBao {
            color: red;
            opacity: 0.75;
            width: 100%;
            display: inline-block;
            text-align: right;
        }
    }
    .register_button {
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        .btn_sign_up {
            display: inline-block;
            background: #6C63FF;
            color: #fff;
            border-bottom: none;
            width: auto;
            padding: 15px 39px;
            border-radius: 5px;
            margin-top: 25px;
            cursor: pointer;
            border: 1px solid transparent;
            outline: none;
            transition: $transition-1;
            &:hover {
                color: $color-1 !important;
                background-color: white;
                border: 1px solid $color-1;
            }
        }
        #btnGoHome {
            display: none;
        }
    }
    .register_img {
        padding: 0 35px;
        width: 100%;
        overflow: hidden;
        figure {
            margin: 0;
            transform: translateY(0);
            transition: $transition-1;
            img {
                max-width: 100%;
                height: auto;
            }
            &:hover {
                transform: translateY(-20px);
            }
        }
    }
}

//header
header {
    background-color: white;
    padding: 0px;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    .navbar {
        .navbar-brand {
            margin: 0;
            padding: 0;
            font-size: 30px;
            font-weight: 700;
            color: $color-1;
            letter-spacing: -1px;
            &:hover {
                color: $color-1;
            }
        }
        .navbar-toggler {
            background-color: $color-1;
        }
    }

    .navbar-nav {
        .nav-link.active {
            color: $color-1;
        }
        .nav-item {
            padding: 0 15px;
            transition: $transition-1;
            position: relative;

            .dropdown-menu {
                transition: $transition-1;
                .item_men {
                    &::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 0px;
                        height: 2px;
                        bottom: 110px;
                        transition: $transition-1;
                    }
                    &:hover::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 20px;
                        height: 2px;
                        bottom: 110px;
                        transition: $transition-1;
                    }
                    &:hover {
                        color: $color-1;
                        background-color: white;
                    }
                }
                .item_women {
                    &::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 0px;
                        height: 2px;
                        bottom: 76px;
                        transition: $transition-1;
                    }
                    &:hover::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 20px;
                        height: 2px;
                        bottom: 76px;
                        transition: $transition-1;
                    }
                    &:hover {
                        color: $color-1;
                        background-color: white;
                    }
                }
                .item_kids {
                    &::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 0px;
                        height: 2px;
                        bottom: 44px;
                        transition: $transition-1;
                    }
                    &:hover::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 20px;
                        height: 2px;
                        bottom: 44px;
                        transition: $transition-1;
                    }
                    &:hover {
                        color: $color-1;
                        background-color: white;
                    }
                }
                .item_sports {
                    &::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 0px;
                        height: 2px;
                        bottom: 13px;
                        transition: $transition-1;
                    }
                    &:hover::before {
                        position: absolute;
                        content: '';
                        background: $color-1;
                        width: 20px;
                        height: 2px;
                        bottom: 13px;
                        transition: $transition-1;
                    }
                    &:hover {
                        color: $color-1;
                        background-color: white;
                    }
                }
            }
        }
        .nav-link {
            color: $color-2;
            &:hover {
                color: $color-1;
            }
            &::before {
                position: absolute;
                content: '';
                background: $color-1;
                width: 0px;
                height: 2px;
                bottom: 8px;
                transition: $transition-1;
            }
            &:hover::before {
                width: 20px;
                position: absolute;
                content: '';
                background: $color-1;
                height: 2px;
                bottom: 8px;
                transition: $transition-1;
            }
        }
    }
    .header_button {
        a {
            display: inline-block;
            line-height: 52px;
            font-weight: 700;
            font-size: 14px;
            margin: 0px;
            padding: 0px 30px;
            text-transform: uppercase;
            color: $color-1;
            border: 1px solid $color-1;
            transition: $transition-1;
            &:hover {
                background-color: $color-1 !important;
                border: 1px solid $color-1 !important;
            }
        }
    }
    .bag_button {
        i {
            height: 20px;
            width: 20px;
            font-size: 1.5rem;
            color: $color-1;
            cursor: pointer;
        }
    }
}

// footer 
footer {
    .footer_item {
        text-transform: capitalize;
        transition: $transition-1 !important;
        font-size: 15px;
        &:hover {
            color: $color-1 !important;
        }
    }
    .footer_bottom {
        border-top: 1px solid #E2E6EA;
        .footer_info {
            p {
                font-size: 15px;
                line-height: 22px;
            }
            span {
                a {
                    text-decoration: none;
                    color: $color-2;
                    &:hover {
                        color: $color-1;
                    }
                }
            }
        }
        .footer_social {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    margin-right: 5px;
                    a {
                        color: $color-2;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        display: inline-block;
                        i {
                            font-size: 15px;
                            line-height: 36px;
                        }
                        &:hover {
                            color: $color-1;
                        }
                    }
                }
            }
        }
    }
}

/* back to top  */
.back_to_top {
    width: 50px;
    height: 50px;
    background: $color-1;
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: $transition-1;
    visibility: hidden;
    opacity: 0;
    &:hover {
        color: $color-1;
        background: white;
        border: 1px solid $color-1;
    }
}
  
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}